{% include 'sitio/cabecera.html' %}

<!--Inicio container principal-->
<div class="container text-center">
    <br><br>
    <img src="../static/imagenes/mirada01.gif" width="180" height="100" alt="Mirada Pícara">
    <br><br>
    <img src="../static/imagenes/encabezado_productos.gif" alt="Logo del Jardín">
    <br><br>
    <div class="row">
        <div class="col-md-2 text-center"></div>
        <div class="col-md-4 text-center">
            <p class="card-text text-justify">
                El Jardín ofrece una gran variedad de plantas ornamentales,
                adaptadas a diverso climas y ambientes 
                <br><br>
                También tenemos información acerca del cuidado general y estacional de las mismas.
            </p>
        </div>
        <div class="col-md-4 text-center">
            <b>Productos</b>
            <p class="text-start">
                <ul class="text-start">
                    <li>Plantas para su hogar</li>
                    <li>Plantas para su jardín</li>
                    <li>Plantas para aficionados</li>
                    <li>Regalos y útiles</li>
                    <li>Abono natural</li>
                </ul>
            </p>
        </div>
        <div class="col-md-2 text-center"></div>
    </div>
    <div class="row">
        <div class="col-md-2 text-center"></div>
        <div class="col-md-4 text-center">
            <img src="../static/imagenes/flor02.gif" class="rounded" width="60%" height="80%" alt="Flor DOS">
        </div>
        <div class="col-md-4 text-center">
            <img src="../static/imagenes/flor07.gif" class="rounded" width="60%" height="80%" alt="Flor Siete">
        </div>
        <div class="col-md-2 text-center"></div>
    </div>
    <img src="../static/imagenes/pie.gif" width="600" height="17" alt="Regla horizontal">
    <br><br>
</div>
<!--Fin container principal-->
{% include 'sitio/pie_de_pagina.html'%}

